---
import Layout from '../layouts/Layout.astro';
import Intro from '../sections/intro.astro';
import Currently from '../sections/currently.astro';
import Projects from '../sections/projects.astro';
import Technologies from '../sections/technologies.astro';
import RevealCanvas from '../components/RevealCanvas';

const revealSource = '/waves-1.svg';
---

<Layout title="Dominik Jessen - Product Engineer">
  <div class="flex flex-col gap-24">
    <div class="bg-contain">
      <div
        class="md:absolute aurora-mesh-rose left-1/3 top-32 lg:top-1/4 w-4/6 h-3/6 xl:w-5/6 xl:h-4/6 -z-50 blur-3xl animate-spin_move rounded-full"
      >
      </div>
      <Intro />
    </div>
    <Technologies />
    <Projects />
    <Currently />
    <!-- <RevealCanvas client:load revealContent={revealSource} className="flex lg:hidden" /> -->
  </div>
</Layout>
