---
import Layout from '../layouts/Layout.astro';
import Intro from '../sections/intro.astro';
import Currently from '../sections/currently.astro';
import Projects from '../sections/projects.astro';
import Technologies from '../sections/technologies.astro';
import RevealCanvas from '../components/RevealCanvas';

const revealSource = '/waves-1.svg';
---

<Layout title="Dominik Jessen - Product Engineer">
  <div class="flex flex-col gap-24">
    <div class="bg-contain">
      <div
        class="md:absolute aurora-mesh-rose left-1/3 top-32 lg:top-1/4 w-4/6 h-3/6 xl:w-5/6 xl:h-4/6 -z-50 blur-3xl animate-spin_move rounded-full"
      >
      </div>
      <Intro />
    </div>
    <Technologies />
    <Projects />
    <Currently />
    <!-- <RevealCanvas client:load revealContent={revealSource} className="flex lg:hidden" /> -->
  </div>
</Layout>

<style>
  .aurora-mesh-purple {
    background-color: rgb(254, 243, 199);
    background-image: radial-gradient(at 30% 34%, rgb(196, 181, 253) 0, transparent 78%),
      radial-gradient(at 3% 57%, rgb(124, 45, 18) 0, transparent 72%), radial-gradient(at 32% 67%, rgb(107, 114, 128) 0, transparent 18%),
      radial-gradient(at 14% 19%, rgb(71, 85, 105) 0, transparent 61%), radial-gradient(at 12% 31%, rgb(253, 186, 116) 0, transparent 5%),
      radial-gradient(at 14% 46%, rgb(250, 232, 255) 0, transparent 6%);
  }

  .aurora-mesh-rose {
    /* background-color: rgb(253, 255, 245); */
    background-color: hsl(var(--background));
    background-image: radial-gradient(at 30% 34%, rgb(252, 212, 212) 0, transparent 78%),
      radial-gradient(at 3% 57%, rgb(196, 181, 253) 0, transparent 72%), radial-gradient(at 32% 67%, rgb(107, 114, 128) 0, transparent 18%),
      radial-gradient(at 14% 19%, rgb(71, 85, 105) 0, transparent 61%), radial-gradient(at 12% 31%, rgb(253, 186, 116) 0, transparent 5%),
      radial-gradient(at 14% 46%, rgb(250, 232, 255) 0, transparent 6%);
  }

  .aurora-mesh-green {
    background-color: rgb(253, 255, 245);
    background-image: radial-gradient(at 30% 34%, rgb(88, 129, 87) 0, transparent 78%),
      radial-gradient(at 3% 57%, rgb(147, 233, 190) 0, transparent 72%), radial-gradient(at 32% 67%, rgb(107, 114, 128) 0, transparent 18%),
      radial-gradient(at 14% 19%, rgb(71, 85, 105) 0, transparent 61%), radial-gradient(at 12% 31%, rgb(225, 193, 110) 0, transparent 5%),
      radial-gradient(at 14% 46%, rgb(250, 232, 255) 0, transparent 6%);
  }

  .aurora-mesh-green-pink {
    background-color: rgb(253, 255, 245);
    background-image: radial-gradient(at 30% 34%, rgb(252, 212, 212) 0, transparent 60%),
      radial-gradient(at 3% 57%, rgb(147, 233, 190) 0, transparent 100%), radial-gradient(at 32% 67%, rgb(107, 114, 128) 0, transparent 18%),
      radial-gradient(at 14% 19%, rgb(71, 85, 105) 0, transparent 61%), radial-gradient(at 12% 31%, rgb(225, 193, 110) 0, transparent 5%),
      radial-gradient(at 14% 46%, rgb(250, 232, 255) 0, transparent 6%);
  }
</style>
