---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card';
import RevealCanvas from '../components/RevealCanvas';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex flex-col gap-8">
			<h1>This is my Astro site</h1>
			<Card title='This is a card' textColor='text-slate-500' />
			<RevealCanvas client:load revealText='Reveal me'/>
		</div>
		
	</main>
</Layout>
