---
import Icon from './Icon.astro';

export interface TechnologyCardProps {
  item: any;
  fillColor?: string;
}

const { item, fillColor } = Astro.props as TechnologyCardProps;
---

<a
  href={item.url}
  target="_blank"
  class="group grid grid-cols-1 place-items-center justify-items-center gap-1 p-4 rounded-full hover:bg-background/10"
>
  <Icon src={item.imgSrc} className={`w-10 sm:w-14 md:w-16 ${fillColor}`} />
</a>
