---
import Icon from './Icon.astro';
import type { HTMLAttributes } from 'astro/types';

export interface TechnologyCardProps extends HTMLAttributes<'a'> {
  item: any;
  fillColor?: string;
}

const { item, fillColor, tabindex } = Astro.props as TechnologyCardProps;
---

<a
  tabindex={tabindex}
  href={item.url}
  target="_blank"
  class="p-3 grid grid-cols-1 place-items-center justify-items-center rounded-full hover:bg-background/10"
>
  <Icon src={item.imgSrc} className={`w-10 sm:w-14 md:w-16 ${fillColor}`} />
</a>
