---
import technologies from '../data/technologies.json';
import TechnologyCard from '../components/TechnologyCard.astro';
---

<section id="technologies" class="bg-primary w-screen self-center py-12 flex flex-col gap-10">
  <h2 class="text-3xl md:text-5xl lg:text-6xl text-background w-full text-center bg-primary">Technologies I love</h2>
  <!-- Marquee tech stack -->
  <div class="flex overflow-hidden gap-[1rem] select-none group mask-left-right">
    <div
      class="flex justify-around items-center w-full min-w-full shrink-0 gap-[1rem] animate-marquee_rtl group-hover:[animation-play-state:paused] h-full"
    >
      {technologies.map((item, _index) => <TechnologyCard item={item} fillColor="fill-background" />)}
    </div>
    <div
      class="flex justify-around items-center w-full min-w-full shrink-0 gap-[1rem] animate-marquee_rtl group-hover:[animation-play-state:paused] h-full"
      aria-hidden="true"
    >
      {technologies.map((item, _index) => <TechnologyCard item={item} fillColor="fill-background" />)}
    </div>
  </div>
</section>
