---
import '@fontsource-variable/signika';
// import '@fontsource-variable/josefin-sans';
// import '@fontsource/ubuntu';
// import '@fontsource-variable/inter';

import Nav from '../components/structure/Nav.astro';
import Footer from '../components/structure/Footer.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background text-foreground overflow-x-hidden">
    <Nav />
    <main class="w-5/6 mx-auto pt-8 pb-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  h1,
  h2 {
    font-family: 'Signika Variable', sans-serif;
    font-weight: 700;
  }

  a:hover {
    opacity: 80%;
  }

  main code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .mask-left-right {
    mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 10%, hsl(0 0% 0% / 1) 90%, hsl(0 0% 0% / 0));
  }

  .scroll-fade-in {
    animation: fade-in 2s linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .aurora-mesh-purple {
    background-color: rgb(254, 243, 199);
    background-image: radial-gradient(at 30% 34%, rgb(196, 181, 253) 0, transparent 78%),
      radial-gradient(at 3% 57%, rgb(124, 45, 18) 0, transparent 72%), radial-gradient(at 32% 67%, rgb(107, 114, 128) 0, transparent 18%),
      radial-gradient(at 14% 19%, rgb(71, 85, 105) 0, transparent 61%), radial-gradient(at 12% 31%, rgb(253, 186, 116) 0, transparent 5%),
      radial-gradient(at 14% 46%, rgb(250, 232, 255) 0, transparent 6%);
  }

  .aurora-mesh-rose {
    background-color: rgb(253, 255, 245);
    background-image: radial-gradient(at 30% 34%, rgb(252, 212, 212) 0, transparent 78%),
      radial-gradient(at 3% 57%, rgb(196, 181, 253) 0, transparent 72%), radial-gradient(at 32% 67%, rgb(107, 114, 128) 0, transparent 18%),
      radial-gradient(at 14% 19%, rgb(71, 85, 105) 0, transparent 61%), radial-gradient(at 12% 31%, rgb(253, 186, 116) 0, transparent 5%),
      radial-gradient(at 14% 46%, rgb(250, 232, 255) 0, transparent 6%);
  }

  .aurora-mesh-green {
    background-color: rgb(253, 255, 245);
    background-image: radial-gradient(at 30% 34%, rgb(88, 129, 87) 0, transparent 78%),
      radial-gradient(at 3% 57%, rgb(147, 233, 190) 0, transparent 72%), radial-gradient(at 32% 67%, rgb(107, 114, 128) 0, transparent 18%),
      radial-gradient(at 14% 19%, rgb(71, 85, 105) 0, transparent 61%), radial-gradient(at 12% 31%, rgb(225, 193, 110) 0, transparent 5%),
      radial-gradient(at 14% 46%, rgb(250, 232, 255) 0, transparent 6%);
  }

  .aurora-mesh-green-pink {
    background-color: rgb(253, 255, 245);
    background-image: radial-gradient(at 30% 34%, rgb(252, 212, 212) 0, transparent 60%),
      radial-gradient(at 3% 57%, rgb(147, 233, 190) 0, transparent 100%), radial-gradient(at 32% 67%, rgb(107, 114, 128) 0, transparent 18%),
      radial-gradient(at 14% 19%, rgb(71, 85, 105) 0, transparent 61%), radial-gradient(at 12% 31%, rgb(225, 193, 110) 0, transparent 5%),
      radial-gradient(at 14% 46%, rgb(250, 232, 255) 0, transparent 6%);
  }
</style>
