---
import '@fontsource-variable/signika';
// import '@fontsource-variable/josefin-sans';
// import '@fontsource/ubuntu';
// import '@fontsource-variable/inter';

import Nav from '../components/structure/Nav.astro';
import Footer from '../components/structure/Footer.astro';
import ThemeToggle from '../components/ui/ThemeToggle.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background text-foreground overflow-x-hidden">
    <Nav />
    <main class="w-5/6 mx-auto pt-8 pb-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    --background: 72 99% 98%;
    --foreground: 70 5% 7%;
    --foreground_lighter: 70 11% 11%;
    --primary: 119 19% 42%;
    --accent_seagreen: 150 66% 75%;
    --brass: 43 66% 66%;
    --rose: 0 87% 91%;
    --mint: 150 66% 97%;
    --blush: 0 87% 97%;
    --aliceblue: 208 100% 97%;

    --header-background: 72 99% 98%; /* Like background for light mode */
  }

  /* Try these colors for dark
  *   --background: #080A00 // 72, 100, 2
  *   --foreground: #EDEEEC // 90, 6, 93
  *   --primary: #80A880 // 120, 19, 58
  *   --accent_seagreen: #166A40 // 150, 66, 25
  *   --brass: #906F1D // 43, 66, 34
  *   --rose: #ffffff // 
  *   --mint: #ffffff // 
  *   --blush: #ffffff // 
  *   --aliceblue: #ffffff // 
  */

  html.dark {
    /* --background: 119 19% 5%; */
    --background: 120 2% 10%;
    /* --background: 72 100% 2%; */
    --foreground: 72 99% 98%;
    /* --foreground: 90 6% 93%; */
    /* --foreground_lighter: 72 99% 90%; */
    --foreground_lighter: 90 6% 93%;
    /* --primary: 119 19% 42%; Might have to be lighter */
    --primary: 120 19% 50%;
    --accent_seagreen: 150 66% 75%; /* TBD */
    --brass: 43 66% 66%; /* TBD */
    --rose: 0 87% 91%; /* TBD */
    --mint: 150 66% 5%; /* TBD */
    /* --blush: 0 87% 2%;  */
    --blush: 354 53% 6%;
    --aliceblue: 208 100% 6%; /* TBD */

    --header-background: 119 19% 50%; /* Green background for dark mode */
  }

  ::selection {
    background: hsl(var(--primary));
    color: hsl(var(--background));
  }

  h1,
  h2 {
    font-family: 'Signika Variable', sans-serif;
    font-weight: 700;
  }

  a:hover {
    opacity: 80%;
  }

  .scroll-fade-in {
    animation: fade-in 2s linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
